.tooltip-box {
  position: fixed;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid black;
  color: blue;
  background-color: white;
}

.tooltip-box-up {
  margin-top: -40px;
}

.tooltip-box-down {
  margin-top: 30px;
}